@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  max-width: 1920px;
  height: 100vh;
  padding: 0 40px;
  align-content: center;
  margin: 0 auto;
}
.content {
  align-self: center;
  width: 100%;
  height: 455px;
  background-color: #ebf0fa;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.block {
  width: 538px;
  margin: 102px 0 102px 72px;
}

.title {
  font-size: 30px;
  line-height: 160%;
  color: #294b8a;
  margin-bottom: 18px;
  font-weight: 500;
}

.text {
  font-size: 17px;
  line-height: 160%;
  color: #727272;
  margin-bottom: 36px;
}

.btn {
  width: 341px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 60px;
  background-color: #294b8a;
  border: none;
  padding: 0 12px 0 24px;
  font-size: 18px;
  color: white;
  line-height: 160%;
}

.btn span {
  content: "";
  background-image: url("assets/icons/btn-icon.svg");
  width: 44px;
  height: 44px;
}

.right-column {
  border-radius: 16px;
  display: flex;
  align-items: end;
  background-image: url("./assets/images/image15.png");
  width: 910px;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1440px) {
  .block {
    margin: 102px 0 102px 72px;
  }
  .right-column {
    width: 680px;
    background-image: url("./assets/images/image16.png");
  }
}

@media (max-width: 1245px) {
  .left-column {
    width: 50%;
  }

  .right-column {
    width: 50%;
    height: 100%;
  }
  .block {
    width: 100%;
    height: 100%;
  }

  .title {
    width: 80%;
  }
  .text {
    width: 80%;
  }

  .btn {
    width: 261px;
    height: 56px;
    font-size: 15px;
    padding: 0 10px 0 18px;
  }

  .btn span {
    scale: 0.8;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 14px 24px;
  }
  .content {
    flex-direction: column;
    height: 586px;
    width: 100%;
    justify-content: flex-start;
  }

  .left-column {
    width: 100%;
  }

  .block {
    padding: 24px;
    margin: 0;
    width: 100%;
  }

  .title {
    width: 100%;
  }
  .text {
    width: 100%;
    font-size: 15px;
    margin-bottom: 24px;
  }

  .right-column {
    width: 100%;
    height: 360px;
    background-size: cover;
    border-radius: 0;
  }
}

@media (max-width: 375px) {
  .content {
    height: 482px;
  }
  .block {
    padding-bottom: 18px;
  }

  .title {
    margin-bottom: 14px;
    font-size: 17px;
  }

  .text {
    margin-bottom: 18px;
    font-size: 13px;
  }

  .btn {
    width: 100%;
  }
  .right-column {
    height: 220px;
  }
}
