@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  max-width: 1920px;
  height: 100vh;
  padding: 0 40px;
  align-content: center;
  margin: 0 auto;
}
.content {
  align-self: center;
  width: 100%;
  height: 455px;
  background-color: #ebf0fa;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.52);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.block {
  width: 538px;
  margin: 102px 0 102px 72px;
}

.title {
  font-size: 30px;
  line-height: 160%;
  color: #294b8a;
  margin-bottom: 18px;
  font-weight: 500;
}

.text {
  font-style: 17px;
  line-height: 160%;
  color: #727272;
  width: 480px;
  margin-bottom: 36px;
}

.btn {
  width: 341px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 60px;
  background-color: #294b8a;
  border: none;
  padding: 0 12px 0 24px;
  font-size: 18px;
  color: white;
  line-height: 160%;
}

.btn span {
  content: "";
  background-image: url("assets/icons/btn-icon.svg");
  width: 44px;
  height: 44px;
}

.right-column {
  display: flex;
  align-items: end;
}
